
.topcontainer {
  background-color: #E4F9F5;
}

.imselva {
  font-size: 5.625em;
  margin-bottom: 0px;
  margin-top: 50px;
  color: #66BFBF;
}
hr{
  margin-top: 100px;
  margin-bottom: 100px;
  border-top: 7px dotted;
  border-bottom: none;
  width:5%;
  color:#eae3c8;
  background-color: white;

}
p{
  font-size: 18px;
  color: #40514E;
  font-weight: bolder;
}
.skill-row{
  color: #40514E;
  font-weight: bolder;
  width: 50%;
  margin : 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.desc {
  font-weight: normal;
  font-size: 2rem;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}
.selva-image{
  margin-top: 30px;
}
.pro-txt{
  line-height: 2;
  margin:auto;
}
a{

  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: white;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat-Black';
}

.topcontainer {
  padding-top: 100px;
  margin: 0;
}

.middlecontainer {}

.bottom-container {
  padding-top: 30px;
  background-color: #66BFBF;
}

.selva-image {
  padding-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.top-cloud {
  position: relative;
  left: 250px;
}

.bottom-cloud {
  position: absolute;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h3 {
  font-weight: bolder;
  color: #11999E;
}
.footer-txt{
  padding-bottom: 30px;
  margin-bottom: 0;
  color: white;
  font-size: 0.75rem;
}

h2{
  color: #66BFBF;
}

.Skills{
  color: #66BFBF;
}

.python-image {
  float :left;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  margin-right: 20px;
}

.web-dev-image {
  float: right;
  width: 25%;
  margin-left: 20px;
  height: 25%;
  border-radius: 50%;
}
.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 15px;
   font-weight: 400;
   padding: 10px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}
